:root{
    --primary-color:#084fd3;
    --secondary-color:#f1e1cc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    color: red;
}
html{
    font-family: Arial, sans-serif;
}
body{
    background-image: url(./Imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* header/nav */
.navbar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #084fd3;
    padding: 10px 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contenedor-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
.nombre-pagina{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color:#084fd3;
}
/* fin nav  */
.contenedor-bienvenida{
    background-color: #f1e1cc;
    padding: 10px;
    margin: 15px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.bienvenida{
    background-color: #f1e1cc;
    padding: 40px 10px;
    text-align: center;
}
.bienvenida h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.bienvenida p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 900px;
    margin: 0 auto;
}

/* carrousel */

.contenedor-carr{
    width: 80%;
    margin: 15px auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.carrusel img {
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.carrusel{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.botones-carrusel{
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 15px;
}
.botones-carrusel button{
    background-color: var(--primary-color);
    border: none;
    padding: 15px 20px;
    transition:background-color 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #f1e1cc;
}
.botones-carrusel button:hover{
    background-color: var(--secondary-color);
    color: white;

}

/* Fin Carrusel */
#consolas{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
.contenedor-consola{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    flex-direction: row;
}
.tarjeta{
    background-color: #f1e1cc;
    padding: 20px;
    width: 25%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.tarjeta:hover {
    transform: scale(1.05); 
}
.tarjeta img{
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
}
.tarjeta h2{
    margin-bottom: 10px;
}
.tarjeta p{
    margin-bottom: 15px;
}
.tarjeta a{
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.1s ease;
}
.tarjeta a:hover{
    background-color: #674ab4;
}

/* Fin Consolas */
/* Juegos exclusivos */
.contenedor-juegos{
    width: 80%;
    margin: 20px auto;
    background-color: #f1e1cc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.juegos h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}
.juegoxmarca{
    text-align: center;
    margin-bottom: 30px;
}
.juegoxmarca h3{
    font-size: 1.8rem;
    color: black;
    margin-bottom: 15px;
}
.muestra{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.muestra img{
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.muestra img:hover{
    transform: scale(1.05);
}







/* FOOTER */
.footer {
    background-color: var(--secondary-color);
    color: black;
    padding: 20px 0;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
    padding: 0 30px;
}
.info-footer{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-contacto ul{
    list-style-type: none;
    padding: 0;
}
.info-contacto{
    text-align: center;
}
.info-desarrollo{
    text-align: center;
}
.info-contacto, .menu-footer, .info-desarrollo {
    flex: 1;
} 
.menu-footer {
    text-align: center;
}

.menu-footer ul {
    list-style: none;
    padding: 0;
}
.menu-footer ul li, .info-contacto ul li{
    margin: 5px 0;
}
.menu-footer a {
    color: var(--primary-color);
    text-decoration: none;

}

.menu-footer a:hover {
    text-decoration: underline;
}

/*Pagina Play*/
.Play {
    background-image: url('/Imagenes/Fondo\ azul.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}
/*Formulario de Contacto body */
.Fcontacto {
    font-family: Arial, sans-serif;
    color: grey;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/*estilo del formulario */
#contacto {
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    
}

/* Etiquetas y campos */
#contacto label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: white;
}

#contacto input[type="text"],
#contacto input[type="email"],
#contacto input[type="tel"],
#contacto textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}
/* Boton enviar */
#contacto button {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    
}

#contacto button:hover {
    background-color: #0056b3;
}
/* Donde salen los datos enviados */
#RegistroValido {
    margin-top: 20px;
    text-align: left;
}

.datos-enviados {
    padding: 10px;
    border-top: 1px solid #f7eaf1;
    background-color: #77175f;
    border-radius: 5px;
    margin-top: 20px;
}

.datos-enviados p {
    margin: 5px 0;
    color:black;
}
